<div>
    <button mat-raised-button color="accent" style="margin: 15px;" (click)="addToSession()">Add Session</button>
    <button mat-raised-button color="accent" style="margin: 15px;" (click)="updateSelected()">Update Session</button>
    <div style="display: flex;" >
    <mat-card style="width: 200px;margin: 15px;cursor: pointer;" *ngFor="let session of sauSessions" (click)="displaySelected(session)">
    <mat-card-subtitle>Session {{session.id}}</mat-card-subtitle>
    <mat-card-title>{{session.title}}</mat-card-title>
    <mat-card-subtitle>{{session.instructor}}</mat-card-subtitle>
    <button mat-raised-button color="primary" style="margin: 1px;" (click)="deleteSession(session)">Delete</button>
    </mat-card>
    </div>
    <app-session-detail [selectedSession]="selectedSession"></app-session-detail>
    
</div>
 